body{
    display: flex;
    width: 1200px;
    margin: auto;
    flex-direction: column;
    background-image: url(imagens/backgroundBody.png);
}

header {
    background-color:rgb(190, 186, 181);
    display: flex;
    align-items: center;
    padding: 12px;
}

#titleHeader {
    text-align: center;
    flex-grow: 1;
}

.section {
    background-color: #fff;
    display: flex;
}

#apresentation {
    flex-direction: column;
}

#imagensDeContato{
  flex-grow: 1;
}

footer {
    display: flex;
    background-color: rgb(94, 91, 91);
    flex-direction: row-reverse;
}
