html{
    background-image: url(imagens/backgroundBody.png); 
}

body{
    display: flex;
    width: 1200px;
    margin: auto;
    flex-direction: column;
    background-color: #fff;
}

header {
    background-color:#e7e7e7;
    display: flex;
    align-items: center;
    padding: 12px;
}

#titleHeader {
    text-align: center;
    flex-grow: 1;
    font-family: 'Times New Roman', Times, serif;
}

#divButtons {
   display: flex;
}


.button {
    color: black;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.5s;
}

.button:hover{
    background-color:white;
    color:gray;
}


.section {
    background-color: #fff;
    display: flex;
    margin-bottom: 100px;
}

#apresentacion{
    margin: 50px 25px;
}

.divImg{
    width: 75px;
    align-items: center;
    text-align: center;
}

#imgTitle{
    text-align: center;
}

#imagensDeContato{
    margin: 100px 100px 150px 100px;
    margin-left: 200px;
    text-align: center;
}

#info {
    color: grey;
    text-justify: center;
}

footer {
    display: flex;
    background-color: #e7e7e7;
    flex-direction: row-reverse;
}
